# Django
SECRET_KEY=СЮДА_СЕКРЕТНЫЙ_КЛЮЧ
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,sintez-m.ru,www.sintez-m.ru

# PostgreSQL
POSTGRES_USER=sintezm
POSTGRES_PASSWORD=СЮДА_ПАРОЛЬ
POSTGRES_DB=sintezm_db
DATABASE_URL=postgresql://sintezm:СЮДА_ПАРОЛЬ@db:5432/sintezm_db

# Email (SMTP)
EMAIL_HOST=smtp.yandex.ru
EMAIL_PORT=465
EMAIL_USE_SSL=True
EMAIL_HOST_USER=info@sintez-m.ru
EMAIL_HOST_PASSWORD=СЮДА_ПАРОЛЬ
MANAGER_EMAIL=manager@sintez-m.ru

# Telegram
TELEGRAM_BOT_TOKEN=СЮДА_ТОКЕН
TELEGRAM_CHAT_ID=СЮДА_CHAT_ID
